:root {
    --cafeFont: 'Pacifico', cursive;
    --mainFont: 'Josefin Sans', sans-serif;
    --bgColor: #eeece7;
    --highLight: #dfd2cc;
    --lightBrown: #af7d64;
    --darkBrown: #522600;
    --textColor: #3a1f08;
    --delBtn: #CA3228;
    --okBtn: #7CAF64;
}
/*-------------------- HEADER -----------------*/
#ordersCont {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header ul{
    background: var(--darkBrown);
    font-family: var(--mainFont);
    font-size: calc(2rem + 1vw);
    color: var(--bgColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
}
ul{
    padding: 1% 2% 1% 2%;
}
li {
    color: var(--bgColor);
}
#backBtnCont{
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
#backBtn {
    width: 60%;
}
/*----------------------MENU---------------------*/
#ordersBody {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}
#menuItems {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1%;
}
#menuTime{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    
}
.menuBtn {
    width: 35%;
    height: 7rem;
    background: var(--lightBrown);
    color: var(--bgColor);
    border: none;
    border-radius: 20px;
    font-family: var(--mainFont);
    font-size: calc(2rem + 1.5vw);
    transition: 0.5s;
    margin: 0% 0% 1%;
}
.menuBtn:focus {
    transform: scale(115%);
    background: var(--darkBrown);
    
}
#menuCategoryCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
}
.menuCategory {
    width: 100%;
    height: 4rem;
    background: var(--highLight);
    display: flex;
    border:none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
    box-shadow:  3px 3px 8px #cab3b3;
}

.category {
    width: 100%;
}
.categoryName {
    color: var(--textColor);
    font-family: var(--mainFont);
    font-size: calc(1rem + 1vw);
    margin: 1%;
}
.dropDown {
    margin: 1%;
}
.dropdownContent{
    width: 100%;
    margin: 0% 0% 1.5%;
    background: var(--highLight);
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow:  3px 3px 8px #cab3b3;
 }
.dropdownContent.active{
    display: flex;
} 

.item {
    width: 30%;
    height: 40%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
    margin: 1%;
    padding: 1%;
    box-shadow:  3px 3px 8px #cab3b3,
                -3px -3px 8px var(--bgColor);
    transition: 0.5s;
}
.item:hover {
    transform: scale(105%);
    box-shadow:  3px 3px 8px #cab3b3,
    -3px -3px 8px #cab3b3;
}
.item:active {
    transform: scale(102%);
    box-shadow:  3px 3px 8px #cab3b3,
    -3px -3px 8px #cab3b3;
}
.itemImg {
    margin: 1%;
    width: 85%;
    border-radius: 50%;
}
.itemDescription {
    width: 90%;
    margin: 0.8%;
    text-align: center;
    font-family: var(--mainFont);
    font-size: calc(0.3rem + 1vw);
}
#dynamicCat{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
#orderList {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1%;
}
#topCont {
    width: 100%;
    height: 5rem;
    background: var(--lightBrown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
#topCont p{
    color: var(--bgColor);
    font-family: var(--mainFont);
    font-size: calc(1rem + 1vw)
}
#nameInput {
    width: 60%;
    height: 4rem;
    font-family: var(--mainFont);
    font-size: calc(1rem + 1vw);
    padding: 1%;
}
#tableSelect {
    width: 15%;
    height: 4rem;
    font-family: var(--mainFont);
    font-size: calc(1rem + 1vw);
    text-align: center;
}
#itemsCont {
    width: 100%;
    background: var(--highLight);
    height: 20rem;
    overflow-y: scroll;
}
.descriptionCont {
    display: flex;
    margin: 1%;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
}
.deleteBtn {
    width: 8%;
}
.orderListDescription {
    font-family: var(--mainFont);
    color: var(--textColor);
    font-size: calc(1.3rem + 1vw);
}
.orderName {
    width: 40%;
}
hr{
    height: 5px;
}
#bottomCont {
    width: 100%;
    background: var(--lightBrown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
#bottomCont p {
    font-family: var(--mainFont);
    font-size: calc(1rem + 1.5vw);
    color: var(--bgColor);
}
#clearBtn {
    background: var(--delBtn);
    border: none;
    width: 25%;
    height: 4.5rem;
    border-radius: 25px;
    font-family: var(--mainFont);
    color: var(--bgColor);
    font-size: calc(1rem + 1vw);
}
#sendCont {
    display: flex;
    justify-content: center;
    margin: 0.5%;
}
#sendBtn {
    background: var(--okBtn);
    border: none;
    width: 25%;
    height: 5rem;
    border-radius: 25px;
    font-family: var(--mainFont);
    color: var(--bgColor);
    font-size: calc(1rem + 1vw);
    
}
.popUpTitle {
    font-family: var(--mainFont);
    font-size: calc(2rem + 1vw);
}

.popUpText {
    font-family: var(--mainFont);
    font-size: calc(1rem + 1vw);
}
.swalInput {
    font-family: var(--mainFont);
    background: var(--highLight);
    font-size: calc(0.5rem + 1vw);
}
.extraCont {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    padding: 0% 3% 1% 0%;
    
}
.extra {
    font-family: var(--mainFont);
    font-size: calc(0.5rem + 1vw);
    color: var(--textColor);
    
}
